
.bank-list {
  margin: 5px !important;
  padding-top: 5px;

ion-thumbnail {
  width: 60px;
  height: 60px;
}

hr {
  background: #dadada;
  height: 1px;
  margin: 5px 17px;
}

.bank-summary {
  font-size: small !important;
}

.bank-name {
  margin-bottom: 5px;
}

}
