page-forces-detail {
  .list {
    margin: 5px !important;
    .text {
      //font-size: .9rem;
    }
    .header {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      margin-bottom: 34px;
      border-bottom-color: #ddd;
      font-weight: bold;
      color: black;
      .title {
        font-weight: 600;
        font-size: 16px;
        margin-top: 25px;

        white-space: normal;
      }
    }

  }

  .resources {
    padding: 0 16px !important;
    .resource {
      margin-bottom: 27px;
      padding: 0 16px;
      .res-image {
        height: auto;
        width: 100%;
      }
      .res-video {

      }
    }
  }
}
