page-contact-form {
  .form {
    margin: 5px !important;
    ion-label {
      color: #666666;
    }
  }
  .en-tete {
    font-size: 16px;
    color: black;
    font-weight: bold;
    border-bottom: 1px #d6dce5 solid;
    margin-bottom: 44px;
  }

}
