
.galerie-list {
  margin: 5px !important;

  .group-header {
    background-color: #f2f2f2;
    .title {
      font-weight: bold;
      //color: white;
      margin: auto;
    }
  }

  .galerie-text {

  }
  ion-text {
    padding-left: 17px;
  }
}
