page-galerie-detail {
  .content-header {
    margin-bottom: 31px;
    color: black;
    padding: 0 16px;
    border-bottom: 1px solid #ddd;
    .title {
      font-weight: 600;
      font-size: 1rem;
      margin-top: 25px;
      white-space: normal;
    }

  }
  //  .group-list {
  //    margin: 5px !important;
  //
  //    .text {
  //      font-size: 16px !important;
  //      padding-bottom: 14px;
  //    }

  //
  //  }
    .resources {
      padding: 0 16px !important;
      .resource {
        margin-bottom: 45px;
        border-bottom: 1px solid #ddd;
        font-size: 14px;
        padding-bottom: 11px;
        ion-label {
          white-space: normal;
            margin: 8px 0 0;
        }
        .res-image {
          height: auto;
          width: 100%;
        }
        .res-video {

        }
      }
    }
}
