
.cv-item {

  .cv-item-inner {
    background-color: #1f1aca;
  }

}

ion-item {
 // margin-left: 8px;
}

ion-list {
  background-color: #88caa8;
}

ion-content {
  background-color: #88caa8;
}

.picture {
  img {
    width: 100%;
  }

}

/*-----------------------------------------------*/
.item-icon {
  /*margin: 0 30%;*/
}

.picture {
  /*margin: 10px 0px;*/
  /*margin-left: -8px;*/
  /*margin-bottom: 3px;*/
  /*min-height: 115px;*/
}

.cv-item-group {
  /*margin-right: 3px;*/
  /*margin-left: 3px;*/
}

.item {

  /* padding-right: 3px; *//* margin-right: -1px; */

}

.item .item-inner {
  /*margin-left: -15%;*/
}

items-list {
  /*margin-left: -1px;*/
  /*background-color: #88caa8;*/
  /*margin-right: 2px;*/
}

a.item-ref {
  /*padding-left: 0px;*/
}
