page-engagements-detail {
  .group-all{
    margin: 5px!important;
  }
  .group-text {
    margin: 0px !important;
    .text {
      font-size: 16px !important;
      padding-bottom: 14px;
    }
    ul{
      li.engagement-item{
        margin: 10px 0;
      }
    }
    .content-header {
      //margin-bottom: auto;
      margin-bottom: 9px;
      color: black;
      .title {
        font-weight: 600;
        font-size: 16px;
        margin-top: 25px;
        white-space: normal;
      }

    }

  }
  .resources {
    padding: 0 16px !important;
    .resource {
      margin-bottom: 27px;

      .res-image {
        height: auto;
        width: 100%;
      }
      .res-video {

      }
    }
  }
}
