mk-actualite {

  .card-article {
    background-color: white;
  }
  .article-title {
    margin-bottom: 9px;
    background-color: white;
    font-weight: bold;
  }
  .read-more {
    color: #989aa2;
  }

}
