mk-actualite {

  .card-article {
    background-color: white;
  }
  .article-title {
    margin-bottom: 9px;
    background-color: white;
    font-weight: bold;
    font-size: 16px;
  }
  .article-text {
    font-size: 16px;
    * {
      font-size: 16px !important;
    }
  }
  .read-more {
    color: rgb(30, 139, 195);
  }

}
