page-contact {
  .group-list {
    margin: 5px !important;

    .mail-icon {
      color: #666666
    }

    .contact-text{
      white-space: normal;
      font-size: 16px;
    }
    .contact-text{
      border-right: 1px solid #d6dce5;
      padding-right: 14px;
      color: black;
    }
    .separator{
      background: #d6dce5;
      height: 5px;
      margin: auto;
    }
  }
}
